body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	background: #648880;
    background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
}
html{
	margin: 0;
	padding: 0;
}
header {
	padding-top: 30px;
	height: 50px;
	color: white;
}
header h1{
	margin: 0;
	font-weight: 100;
	font-size: 60px;
}
.contact-list{
	width: 80%;
	height: 55vh;
	margin: auto;
	overflow: auto;
}

ul{
	list-style: none;
}
ul span{
	font-size: 24px;
	font-style: 300;
}
div#add-contact{
	width: 85%;
	height: 40%;
	position: fixed;
	left: 50%;
	top: 20%;
	margin-left: -42.5%;
	background-color: white;
	z-index: 2;
	display: none;
}

.browser{
	display: flex;
  	flex-direction: column;
	width: 80%;
	height: 65vh;
	margin: auto;
	margin-top: 15%;
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
	background: white;
	padding: 15px;
	box-sizing: border-box;
}
.browser input{
	width: 60%;
	height: 12%;
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 4vw;
	text-align: center;
}
span.search{
	position: relative;
	bottom: 2px;
}
span.search i{
	padding-right: 2%;
	color: #648880;
}
span.add {
	float: right;
	font-size: 44px;
	margin-top: -5%;
	font-weight: bold;
}
span.add a:hover{
	color: lightgray;
}

.close{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 1%;
	left: 95%;
	font-weight: bold;
	font-size: 25px;
	z-index: 10;
}
button{
	background-color: #45cae6;
	border-width: 0px;
	padding: 6px 10px 6px;
	border-color: #D3D3D3;
	border-style: solid;
	font-family: 'Lato', sans-serif;
	border-radius: 2px;
	color: white;
	width: 92px;
	height: 34px;
	font-size: 14px;
}
.notes{
	color: #ccc;
	font-style: italic;
}

/*screen that dims on add contact div */
#screen {
	width: 100vw;
	height: 100vh;
	position: absolute;
	min-height: 1000px;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,0.50);
	display: none;
}


@media (min-width: 720px) {
	.browser{
		margin-top: 5%;
		width: 65vw;
	}
	.contact-list{
		height: 390px;
	}
	.browser input{
		font-size: 2vw;
		width: 60%;
	}
	div#add-contact{
		width: 40%;
		margin-left: -20%;
	} 
}

@media (min-width: 900px) {
	.browser{
		width: 55vw;
	}
}

@media (min-width: 1024px) {
	.browser{
		width: 35vw;
	}
}


